﻿@using Chat.WebApp.Resources
@{
    ViewBag.Title = Res.AppTitle;
}

<div class="row" style="height: 100%">
    <div class="col-md-7 messagesCol">
        <div class="panel panel-default messagesPanel">
            <div class="panel-heading">
                <button data-bind="click: startNewConversation" class="btn btn-default btn-block" type="button">@Res.NewConversation</button>
            </div>

            <div class="panel-body" style="height: 100%;">
                <ul id="messageList" class="list-unstyled messageList" data-bind="foreach: messages">
                    <li data-bind="if: messageType === MessageType.ServiceMessage">
                        <b data-bind="text: content" class="label label-success"></b>
                        <hr style="margin: 5px 5px 5px 0; padding: 0;"/>
                    </li>

                    <li data-bind="if: messageType === MessageType.MyMessage">
                        <div style="margin-right: 20px;">
                            <div style="float: left; padding-right: 5px; width: 100%;" class="text-right">
                                <span data-bind="text: content"></span>
                            </div>
                            <div style="float: right; margin-right: -20px; width: 20px;">
                                <span class="glyphicon glyphicon-chevron-left" style="color: grey" aria-hidden="true"></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr style="margin: 5px 5px 5px 0; padding: 0;"/>
                    </li>

                    <li data-bind="if: messageType === MessageType.HisMessage">
                        <span class="glyphicon glyphicon-chevron-right" style="color: royalblue" aria-hidden="true"></span>
                        <span data-bind="text: content"></span>

                        <hr style="margin: 5px 5px 5px 0; padding: 0;"/>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="@Res.MessagePlaceholder"
                           data-bind="textInput: messageContent, hasFocus: isMessageInputFocused, onenter: sendMessage">
                    <span class="input-group-btn">
							<button class="btn btn-default" type="button" data-bind="click: sendMessage, enable: conversationStatus() === ConversationStatus.Started && messageContent().trim().length > 0">
								@Res.Send
							</button>
						</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/chat")
    <script src="~/signalr/hubs"></script>
}