﻿@{
	ViewBag.Title = "Test";
}

<div class="row">
	<div class="col-md-7" style="float: none; margin: 0 auto;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn btn-default btn-block" type="button">New conversation</button>
			</div>

			<div class="panel-body">
				<ul style="height: 480px; overflow-x: hidden; overflow-y: scroll;" class="list-unstyled">
					<li><b>Me: </b> Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massasdf sdf sdf sdf sd fsf sd<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>He: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
					<li><b>Me: </b>Lorem ipsum dolor sit amet Consectetur adipiscing elit Integer molestie lorem at massa<hr style="margin: 5px 5px 5px 0; padding: 0;" /></li>
				</ul>
			</div>
			<div class="panel-footer">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Write a message">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Send</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>