﻿html, body { height: 100%; }

body {
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { /* max-width: 280px; */ }

.messagesCol {
	float: none;
	height: 100%;
	margin: 0 auto;
}

.messagesPanel {
	height: 100%;
	padding-bottom: 110px;
	max-height: 760px;
	min-height: 360px;
}

.messageList {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}